<div class="menu">
    <div class="item" [routerLink]="['/dokis']" 
        routerLinkActive="router-link-active-style" 
        [routerLinkActiveOptions]="{exact:true}">Lista zestawow creator</div>
    <div class="item" [routerLink]="['/dokiscategory/otherside']"
        routerLinkActive="router-link-active-style" 
        [routerLinkActiveOptions]="{exact:true}">Lista zestawow other side</div>
    <div class="item" [routerLink]="['/user/profile']" routerLinkActive="router-link-active-style">Hejka Tom</div> 
</div>
