.thumb {
    float: left;
    margin: 5px;
    min-width: 400px;
    max-width: 400px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid grey;
}

.thumb-img {
    float: left;
    max-width: 150px;
    width: 150px;
    max-height: 100px;
    min-height: 100px;
}

.details {
    overflow: auto;
}

.thumb-symbol {
    float: left;
    text-align: center;
}

.price {
    margin-block-start: 1em;
}

.good {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
}